body {
  height: 100vh;
  margin: 0;
  background-color: #e0dada;
}

.container-md {
  text-align: center;
  /* margin: 30px;*/
  padding: 15px;
}

.container-sm {
  text-align: center;
  margin: 80px;
  padding: 10px;
}

.container {
  text-align: center;
}

.card-header {
  font-size: 3.8rem;
}

.reloj {
  margin: 8px;
  padding: 50px;
}

#time,
#day,
#resultado {
  font-size: 3.5rem;
  color: #fff;
  white-space: nowrap;
}

.btn {
  margin: 15px;
}

.bandera {
  width: 24px;
  height: 24px;
}

.form-control {
  padding: 4px;
}

#reiniciar,
#pausa,
#reset {
  display: none;
}

.img-flag {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  margin-top: 10px;
}

@media (max-width: 768px) {

  .container-md {
    padding: 5px;
  }

  .container-sm {
    margin: 20px;
  }

  .card-header {
    font-size: 2rem;
  }

  #time,
  #day,
  #resultado {
    font-size: 2rem;
  }

  .btn {
    margin: 2px;
  }

  .reloj {
    margin: 3px;
    padding: 5px;
  }
  .img-flag {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    margin-top: 3px;
  }
}

@media (max-width: 576px) {

  .container-sm {
    margin: auto;
  }
}