.body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 50px;
}

.pantalla {
  font-size: 1.5rem;
  background-color: rgb(85, 82, 82);
  height: 35px;
  margin: 25px;
  border: 3px solid #ffff;
}

.container-md {
  max-width: 300px;
  height: 320px;
  text-align: center;
  margin: auto;
  border: 5px solid #ffff;
}

.col-sm {
  text-align: center;
  margin: 3px;
}

.btn {
  width: 40px;
  border-radius: 50px;
}

.resultado {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .col-sm {
    width: 100%;
  }
  .pantalla {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .col-sm {
    width: 20%;
  }
  .btn {
    width: 30px;
    height: 30px;
  }
}
