body {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  padding: 15px;
}

a {
  text-decoration: none;
}

.container-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Esto centra verticalmente en la pantalla */
}
